@model eventos.DTO.CasaDTO
@{
    Layout = "_LayoutAdmin";
}
<div class="container-fluid">
<h3>Editar Casa</h3>
<hr/>
<form class="form-horizontal" asp-controller="Casas" asp-action="Atualizar" method="POST">
    <input type="hidden" asp-for="Id">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da Casa">
    <span asp-validation-for="Nome"></span><br/>
    <label asp-for="Nome">Endereço</label>
    <input type="text" asp-for="Endereco" class="form-control" placeholder="Avenida, rua, local">
    <span asp-validation-for="Endereco"></span><br/>
    <button class="btn btn-success">Atualizar</button>
</form></div>